![sql](images/sql-logo.jpg)

# From SQL Queries to Pandas

First, let's discuss - what does this querying potentially look like in the real world/on a job?

https://sqlitebrowser.org/

## Let's Explore a Database!

In [1]:
# of course, need an import
import sqlite3

#### Load a database object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

In [3]:
cursor.execute("SELECT * FROM airlines LIMIT 5;").fetchall()

[(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y'),
 (1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N'),
 (2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y'),
 (3,
  '4',
  '2 Sqn No 1 Elementary Flying Training School',
  '\\N',
  None,
  'WYT',
  None,
  'United Kingdom',
  'N'),
 (4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N')]

Our cursor is what we'll use to execute queries on a database.

## The Structure of a SQL Query

![structure of a sql query](images/sql_statement.jpg)

### Constructing SQL queries

**`SELECT`**:  The columns you want

options: 
 - `DISTINCT`
 - using `AS` to rename columns, called *aliasing*
 - single number aggregates

**`FROM`:** the source tables

options: 
- also can alias with `AS`
     - here is also where we can join other tables too, with `[LEFT|INNER|RIGHT|FULL] JOIN ___ [ON|USING]`

**`WHERE`**: your filters

options: 
- comparators like `=` & `>=`
- `BETWEEN`, `IN`, `LIKE` (with wildcards `%`)
- booleans like `AND`, `OR`, `NOT`

**`ORDER BY`**: sorting

options: 
 - `ASC` (default) and `DESC`

**`LIMIT`**:  # of rows to return (pair with `OFFSET`)

There are more! But those are most of the pieces of an SQL query that we'll use for now.

**NOTE:** SQL doesn't care about spacing, and doesn't care about capslock for statement options. But, it's convention - plus it makes your queries easier to read, for yourself and others.

### Using `Pragma`

Note that [`PRAGMA`](https://www.sqlite.org/pragma.html) is a query statement specific to SQLite - in some ways similar to describe

**output:**

`(column id, column name, data type, whether or not the column can be NULL, the default value for the column, and whether the column is a foreign key)`

In [9]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep='\n')
# print(*info, sep = "\n")  #cool new way of using python's print

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

Now let's get the descriptive data for the other two tables, `airlines` and `routes`

In [5]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'alias', 'TEXT', 0, None, 0)
(4, 'iata', 'TEXT', 0, None, 0)
(5, 'icao', 'TEXT', 0, None, 0)
(6, 'callsign', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'active', 'TEXT', 0, None, 0)

In [13]:
cursor.execute("""
    SELECT * 
    FROM routes
    LIMIT 3;
""").fetchall()

[(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2'),
 (1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2'),
 (2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2')]

In [15]:
print(*cursor.execute("""
    SELECT * 
    FROM airports
    LIMIT 3;
""").fetchall(), sep="\n")

(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby')
(1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby')
(2, '3', 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', '-5.826789', '144.295861', '5388', '10', 'U', 'Pacific/Port_Moresby')

In [12]:
print(*cursor.execute("PRAGMA table_info(airports)").fetchall(), sep='\n')

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

In [10]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'airline', 'TEXT', 0, None, 0)
(2, 'airline_id', 'TEXT', 0, None, 0)
(3, 'source', 'TEXT', 0, None, 0)
(4, 'source_id', 'TEXT', 0, None, 0)
(5, 'dest', 'TEXT', 0, None, 0)
(6, 'dest_id', 'TEXT', 0, None, 0)
(7, 'codeshare', 'TEXT', 0, None, 0)
(8, 'stops', 'TEXT', 0, None, 0)
(9, 'equipment', 'TEXT', 0, None, 0)

## Time to Practice!

#### Write a query that will join the **latitude** and **longitude** data from the `airports` table to the information on the `routes` table

In [26]:
cursor.execute("""
    SELECT 
        r.*, 
        source.latitude AS source_lat,
        source.longitude AS source_long,
        source.name AS source_name,
        dest.latitude AS dest_lat,
        dest.longitude AS dest_long,
        dest.name AS dest_name
    FROM routes AS r
    JOIN airports AS source ON r.source_id = source.id
    JOIN airports AS dest ON r.dest_id = dest.id
    LIMIT 1
""").fetchall()

[(0,
  '2B',
  '410',
  'AER',
  '2965',
  'KZN',
  '2990',
  None,
  '0',
  'CR2',
  '43.449928',
  '39.956589',
  'Sochi',
  '55.606186',
  '49.278728',
  'Kazan')]

In [27]:
 print(*cursor.description, sep='\n')

('index', None, None, None, None, None, None)
('airline', None, None, None, None, None, None)
('airline_id', None, None, None, None, None, None)
('source', None, None, None, None, None, None)
('source_id', None, None, None, None, None, None)
('dest', None, None, None, None, None, None)
('dest_id', None, None, None, None, None, None)
('codeshare', None, None, None, None, None, None)
('stops', None, None, None, None, None, None)
('equipment', None, None, None, None, None, None)
('source_lat', None, None, None, None, None, None)
('source_long', None, None, None, None, None, None)
('source_name', None, None, None, None, None, None)
('dest_lat', None, None, None, None, None, None)
('dest_long', None, None, None, None, None, None)
('dest_name', None, None, None, None, None, None)

#### Which countries have the most active airlines?

Return the 25 countries with the most active airlines

In [23]:
print(*cursor.execute("""
    SELECT * 
    FROM airlines
    LIMIT 3;
""").fetchall(), sep="\n")

(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y')
(1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N')
(2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y')

In [25]:
print(*cursor.description, sep='\n')

('index', None, None, None, None, None, None)
('id', None, None, None, None, None, None)
('name', None, None, None, None, None, None)
('alias', None, None, None, None, None, None)
('iata', None, None, None, None, None, None)
('icao', None, None, None, None, None, None)
('callsign', None, None, None, None, None, None)
('country', None, None, None, None, None, None)
('active', None, None, None, None, None, None)

In [32]:
cursor.execute("""
    SELECT country, COUNT(*) AS active_airline_count
    FROM airlines
    WHERE active = 'Y'
    GROUP BY country
    ORDER BY active_airline_count DESC
    LIMIT 25
""").fetchall()

[('United States', 141),
 ('Russia', 72),
 ('United Kingdom', 40),
 ('Germany', 37),
 ('Canada', 34),
 ('Australia', 26),
 ('China', 25),
 ('Spain', 24),
 ('Brazil', 23),
 ('France', 22),
 ('Japan', 19),
 ('Italy', 18),
 ('Indonesia', 17),
 ('India', 17),
 ('Turkey', 16),
 ('Thailand', 16),
 ('Sweden', 15),
 ('Switzerland', 14),
 ('Ukraine', 13),
 ('Portugal', 13),
 ('Mexico', 12),
 ('Finland', 12),
 ('Egypt', 12),
 ('Austria', 12),
 ('Peru', 11)]

#### What about inactive airlines?

Return all the countries that have more than 10 inactive airlines.

In [33]:
cursor.execute("""
    SELECT country, COUNT(*) AS inactive_airline_count
    FROM airlines
    WHERE active = 'N'
    GROUP BY country
    HAVING inactive_airline_count > 10
""").fetchall()

[(None, 13),
 ('Angola', 35),
 ('Argentina', 14),
 ('Armenia', 15),
 ('Australia', 67),
 ('Austria', 38),
 ('Belgium', 21),
 ('Brazil', 35),
 ('Bulgaria', 25),
 ('Cambodia', 12),
 ('Canada', 284),
 ('Chile', 35),
 ('China', 45),
 ('Colombia', 34),
 ('Czech Republic', 27),
 ('Democratic Republic of the Congo', 19),
 ('Denmark', 25),
 ('Dominican Republic', 25),
 ('Ecuador', 19),
 ('Egypt', 36),
 ('France', 97),
 ('Georgia', 12),
 ('Germany', 94),
 ('Ghana', 17),
 ('Greece', 19),
 ('Guinea', 11),
 ('Haiti', 14),
 ('Hungary', 15),
 ('Iceland', 11),
 ('Indonesia', 31),
 ('Iran', 24),
 ('Ireland', 21),
 ('Israel', 16),
 ('Italy', 72),
 ('Ivory Coast', 15),
 ('Japan', 25),
 ('Kazakhstan', 73),
 ('Kenya', 20),
 ('Kyrgyzstan', 29),
 ('Lebanon', 13),
 ('Libya', 23),
 ('Lithuania', 13),
 ('Luxembourg', 11),
 ('Mauritania', 32),
 ('Mexico', 427),
 ('Moldova', 17),
 ('Netherlands', 43),
 ('New Zealand', 24),
 ('Nigeria', 80),
 ('Norway', 23),
 ('Pakistan', 22),
 ('Peru', 15),
 ('Philippines', 13),
 ('Poland', 12),
 ('Portugal', 32),
 ('Russia', 158),
 ('Senegal', 12),
 ('Sierra Leone', 23),
 ('Slovakia', 14),
 ('South Africa', 81),
 ('Spain', 142),
 ('Sudan', 47),
 ('Sweden', 55),
 ('Switzerland', 46),
 ('Thailand', 32),
 ('Turkey', 23),
 ('Uganda', 21),
 ('Ukraine', 76),
 ('United Arab Emirates', 23),
 ('United Kingdom', 367),
 ('United States', 939),
 ('Venezuela', 22),
 ('Zambia', 20)]

#### How many airports are there in each timezone?

In [34]:
print(*cursor.execute("""
    SELECT * 
    FROM airports
    LIMIT 3;
""").fetchall(), sep="\n")

(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby')
(1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby')
(2, '3', 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', '-5.826789', '144.295861', '5388', '10', 'U', 'Pacific/Port_Moresby')

In [36]:
print(*cursor.description, sep="\n")

('index', None, None, None, None, None, None)
('id', None, None, None, None, None, None)
('name', None, None, None, None, None, None)
('city', None, None, None, None, None, None)
('country', None, None, None, None, None, None)
('code', None, None, None, None, None, None)
('icao', None, None, None, None, None, None)
('latitude', None, None, None, None, None, None)
('longitude', None, None, None, None, None, None)
('altitude', None, None, None, None, None, None)
('offset', None, None, None, None, None, None)
('dst', None, None, None, None, None, None)
('timezone', None, None, None, None, None, None)

In [37]:
cursor.execute("""
    SELECT timezone, COUNT(id) AS airport_count
    FROM airports
    GROUP BY timezone 
""").fetchall()

[('Africa/Abidjan', 7),
 ('Africa/Accra', 6),
 ('Africa/Addis_Ababa', 31),
 ('Africa/Algiers', 44),
 ('Africa/Asmera', 4),
 ('Africa/Bamako', 8),
 ('Africa/Bangui', 3),
 ('Africa/Banjul', 1),
 ('Africa/Bissau', 2),
 ('Africa/Blantyre', 8),
 ('Africa/Brazzaville', 5),
 ('Africa/Bujumbura', 1),
 ('Africa/Cairo', 21),
 ('Africa/Casablanca', 22),
 ('Africa/Conakry', 6),
 ('Africa/Dakar', 9),
 ('Africa/Dar_es_Salaam', 28),
 ('Africa/Djibouti', 3),
 ('Africa/Douala', 10),
 ('Africa/El_Aaiun', 3),
 ('Africa/Freetown', 8),
 ('Africa/Gaborone', 25),
 ('Africa/Harare', 16),
 ('Africa/Johannesburg', 104),
 ('Africa/Juba', 7),
 ('Africa/Kampala', 9),
 ('Africa/Khartoum', 14),
 ('Africa/Kigali', 4),
 ('Africa/Kinshasa', 18),
 ('Africa/Lagos', 27),
 ('Africa/Libreville', 14),
 ('Africa/Lome', 2),
 ('Africa/Luanda', 25),
 ('Africa/Lubumbashi', 15),
 ('Africa/Lusaka', 13),
 ('Africa/Malabo', 2),
 ('Africa/Maputo', 22),
 ('Africa/Maseru', 3),
 ('Africa/Mbabane', 1),
 ('Africa/Mogadishu', 11),
 ('Africa/Monrovia', 3),
 ('Africa/Nairobi', 54),
 ('Africa/Ndjamena', 7),
 ('Africa/Niamey', 7),
 ('Africa/Nouakchott', 11),
 ('Africa/Ouagadougou', 2),
 ('Africa/Porto-Novo', 1),
 ('Africa/Sao_Tome', 2),
 ('Africa/Tripoli', 22),
 ('Africa/Tunis', 13),
 ('Africa/Windhoek', 18),
 ('America/Anchorage', 258),
 ('America/Anguilla', 1),
 ('America/Antigua', 2),
 ('America/Aruba', 1),
 ('America/Asuncion', 8),
 ('America/Barbados', 1),
 ('America/Belize', 12),
 ('America/Blanc-Sablon', 7),
 ('America/Boa_Vista', 52),
 ('America/Bogota', 72),
 ('America/Campo_Grande', 15),
 ('America/Caracas', 58),
 ('America/Cayenne', 21),
 ('America/Cayman', 3),
 ('America/Chicago', 373),
 ('America/Coral_Harbour', 3),
 ('America/Cordoba', 104),
 ('America/Costa_Rica', 29),
 ('America/Curacao', 8),
 ('America/Danmarkshavn', 2),
 ('America/Dawson_Creek', 2),
 ('America/Denver', 135),
 ('America/Dominica', 3),
 ('America/Edmonton', 66),
 ('America/El_Salvador', 2),
 ('America/Fortaleza', 44),
 ('America/Godthab', 22),
 ('America/Grand_Turk', 6),
 ('America/Grenada', 3),
 ('America/Guadeloupe', 6),
 ('America/Guatemala', 10),
 ('America/Guayaquil', 35),
 ('America/Guyana', 14),
 ('America/Halifax', 27),
 ('America/Havana', 29),
 ('America/Hermosillo', 5),
 ('America/Jamaica', 7),
 ('America/La_Paz', 27),
 ('America/Lima', 43),
 ('America/Los_Angeles', 226),
 ('America/Managua', 11),
 ('America/Martinique', 4),
 ('America/Mazatlan', 16),
 ('America/Mexico_City', 65),
 ('America/Miquelon', 2),
 ('America/Montevideo', 12),
 ('America/Montserrat', 2),
 ('America/Nassau', 37),
 ('America/New_York', 628),
 ('America/Panama', 26),
 ('America/Paramaribo', 23),
 ('America/Phoenix', 42),
 ('America/Port-au-Prince', 14),
 ('America/Port_of_Spain', 2),
 ('America/Puerto_Rico', 15),
 ('America/Regina', 18),
 ('America/Rio_Branco', 3),
 ('America/Santiago', 37),
 ('America/Santo_Domingo', 14),
 ('America/Sao_Paulo', 97),
 ('America/Scoresbysund', 2),
 ('America/St_Johns', 9),
 ('America/St_Kitts', 3),
 ('America/St_Lucia', 3),
 ('America/St_Thomas', 8),
 ('America/St_Vincent', 5),
 ('America/Tegucigalpa', 11),
 ('America/Thule', 2),
 ('America/Tijuana', 6),
 ('America/Toronto', 159),
 ('America/Tortola', 2),
 ('America/Vancouver', 78),
 ('America/Winnipeg', 65),
 ('Antarctica/South_Pole', 19),
 ('Arctic/Longyearbyen', 7),
 ('Asia/Aden', 11),
 ('Asia/Amman', 6),
 ('Asia/Ashgabat', 8),
 ('Asia/Baghdad', 10),
 ('Asia/Bahrain', 2),
 ('Asia/Baku', 9),
 ('Asia/Bangkok', 58),
 ('Asia/Beirut', 2),
 ('Asia/Bishkek', 4),
 ('Asia/Brunei', 2),
 ('Asia/Calcutta', 141),
 ('Asia/Chongqing', 222),
 ('Asia/Colombo', 15),
 ('Asia/Damascus', 6),
 ('Asia/Dhaka', 13),
 ('Asia/Dili', 3),
 ('Asia/Dubai', 19),
 ('Asia/Dushanbe', 4),
 ('Asia/Gaza', 2),
 ('Asia/Hong_Kong', 13),
 ('Asia/Hovd', 3),
 ('Asia/Irkutsk', 24),
 ('Asia/Jakarta', 49),
 ('Asia/Jayapura', 21),
 ('Asia/Jerusalem', 20),
 ('Asia/Kabul', 22),
 ('Asia/Karachi', 46),
 ('Asia/Katmandu', 36),
 ('Asia/Krasnoyarsk', 16),
 ('Asia/Kuala_Lumpur', 45),
 ('Asia/Kuwait', 2),
 ('Asia/Macau', 4),
 ('Asia/Magadan', 16),
 ('Asia/Makassar', 42),
 ('Asia/Manila', 63),
 ('Asia/Muscat', 6),
 ('Asia/Nicosia', 4),
 ('Asia/Omsk', 17),
 ('Asia/Oral', 7),
 ('Asia/Phnom_Penh', 13),
 ('Asia/Pyongyang', 6),
 ('Asia/Qatar', 3),
 ('Asia/Qyzylorda', 21),
 ('Asia/Rangoon', 43),
 ('Asia/Riyadh', 42),
 ('Asia/Saigon', 30),
 ('Asia/Samarkand', 12),
 ('Asia/Seoul', 30),
 ('Asia/Singapore', 6),
 ('Asia/Taipei', 32),
 ('Asia/Tbilisi', 5),
 ('Asia/Tehran', 81),
 ('Asia/Thimphu', 1),
 ('Asia/Tokyo', 131),
 ('Asia/Ulaanbaatar', 11),
 ('Asia/Vientiane', 11),
 ('Asia/Vladivostok', 19),
 ('Asia/Yakutsk', 21),
 ('Asia/Yekaterinburg', 29),
 ('Asia/Yerevan', 4),
 ('Atlantic/Azores', 10),
 ('Atlantic/Bermuda', 2),
 ('Atlantic/Canary', 10),
 ('Atlantic/Cape_Verde', 7),
 ('Atlantic/Faeroe', 3),
 ('Atlantic/Reykjavik', 22),
 ('Atlantic/South_Georgia', 2),
 ('Atlantic/St_Helena', 2),
 ('Atlantic/Stanley', 5),
 ('Australia/Adelaide', 23),
 ('Australia/Brisbane', 81),
 ('Australia/Darwin', 22),
 ('Australia/Hobart', 22),
 ('Australia/Melbourne', 7),
 ('Australia/Perth', 45),
 ('Australia/Sydney', 52),
 ('Europe/Amsterdam', 41),
 ('Europe/Athens', 60),
 ('Europe/Belgrade', 4),
 ('Europe/Berlin', 319),
 ('Europe/Bratislava', 8),
 ('Europe/Brussels', 35),
 ('Europe/Bucharest', 26),
 ('Europe/Budapest', 14),
 ('Europe/Chisinau', 3),
 ('Europe/Copenhagen', 28),
 ('Europe/Dublin', 23),
 ('Europe/Gibraltar', 1),
 ('Europe/Guernsey', 2),
 ('Europe/Helsinki', 50),
 ('Europe/Isle_of_Man', 1),
 ('Europe/Istanbul', 77),
 ('Europe/Jersey', 1),
 ('Europe/Kaliningrad', 1),
 ('Europe/Kiev', 33),
 ('Europe/Lisbon', 26),
 ('Europe/Ljubljana', 5),
 ('Europe/London', 193),
 ('Europe/Luxembourg', 1),
 ('Europe/Madrid', 74),
 ('Europe/Malta', 7),
 ('Europe/Mariehamn', 1),
 ('Europe/Minsk', 8),
 ('Europe/Monaco', 1),
 ('Europe/Moscow', 100),
 ('Europe/Oslo', 67),
 ('Europe/Paris', 232),
 ('Europe/Podgorica', 2),
 ('Europe/Prague', 27),
 ('Europe/Riga', 3),
 ('Europe/Rome', 93),
 ('Europe/Sarajevo', 4),
 ('Europe/Skopje', 2),
 ('Europe/Sofia', 7),
 ('Europe/Stockholm', 86),
 ('Europe/Tallinn', 9),
 ('Europe/Tirane', 1),
 ('Europe/Vaduz', 1),
 ('Europe/Vienna', 30),
 ('Europe/Vilnius', 8),
 ('Europe/Warsaw', 35),
 ('Europe/Zagreb', 13),
 ('Europe/Zurich', 50),
 ('Indian/Antananarivo', 45),
 ('Indian/Chagos', 1),
 ('Indian/Christmas', 1),
 ('Indian/Cocos', 1),
 ('Indian/Comoro', 4),
 ('Indian/Mahe', 10),
 ('Indian/Maldives', 38),
 ('Indian/Mauritius', 2),
 ('Indian/Mayotte', 1),
 ('Indian/Reunion', 10),
 ('Pacific/Apia', 4),
 ('Pacific/Auckland', 54),
 ('Pacific/Chatham', 2),
 ('Pacific/Easter', 1),
 ('Pacific/Efate', 29),
 ('Pacific/Enderbury', 1),
 ('Pacific/Fiji', 17),
 ('Pacific/Funafuti', 1),
 ('Pacific/Galapagos', 3),
 ('Pacific/Gambier', 1),
 ('Pacific/Guadalcanal', 26),
 ('Pacific/Guam', 2),
 ('Pacific/Honolulu', 25),
 ('Pacific/Johnston', 1),
 ('Pacific/Kosrae', 1),
 ('Pacific/Majuro', 32),
 ('Pacific/Marquesas', 4),
 ('Pacific/Midway', 1),
 ('Pacific/Nauru', 1),
 ('Pacific/Niue', 1),
 ('Pacific/Norfolk', 1),
 ('Pacific/Noumea', 11),
 ('Pacific/Pago_Pago', 3),
 ('Pacific/Palau', 3),
 ('Pacific/Ponape', 1),
 ('Pacific/Port_Moresby', 57),
 ('Pacific/Rarotonga', 8),
 ('Pacific/Saipan', 3),
 ('Pacific/Tahiti', 25),
 ('Pacific/Tarawa', 8),
 ('Pacific/Tongatapu', 6),
 ('Pacific/Truk', 3),
 ('Pacific/Wake', 1),
 ('Pacific/Wallis', 2),
 ('\\N', 92)]

### New Stuff! CASE Statements

CASE statements are SQL's version of `if ... then ... else`. They must always be closed with an END (usually an END AS).

Useful reference: https://mode.com/sql-tutorial/sql-case/

In [38]:
# Example - create a new column that shows an airport's hemisphere
cursor.execute("""
    SELECT name, city, country,
    CASE WHEN latitude > 0 THEN 'northern'
        ELSE 'southern'
        END AS hemisphere
    FROM airports
    LIMIT 10;
    """).fetchall()

[('Goroka', 'Goroka', 'Papua New Guinea', 'southern'),
 ('Madang', 'Madang', 'Papua New Guinea', 'southern'),
 ('Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'southern'),
 ('Nadzab', 'Nadzab', 'Papua New Guinea', 'southern'),
 ('Port Moresby Jacksons Intl',
  'Port Moresby',
  'Papua New Guinea',
  'southern'),
 ('Wewak Intl', 'Wewak', 'Papua New Guinea', 'southern'),
 ('Narsarsuaq', 'Narssarssuaq', 'Greenland', 'northern'),
 ('Nuuk', 'Godthaab', 'Greenland', 'northern'),
 ('Sondre Stromfjord', 'Sondrestrom', 'Greenland', 'northern'),
 ('Thule Air Base', 'Thule', 'Greenland', 'northern')]

In [39]:
print(cursor.description)

(('name', None, None, None, None, None, None), ('city', None, None, None, None, None, None), ('country', None, None, None, None, None, None), ('hemisphere', None, None, None, None, None, None))

What's happening?

1. The CASE statement checks each row to see if the conditional statement (`latitude > 0`) is true
2. If that conditional statement is true for that row, the word "northern" gets printed in the column that we have named `hemisphere`
3. If the conditional statement is false for that row, the word "southern" gets printed in the `hemisphere` column instead
4. At the same time all this is happening, SQL is retrieving and displaying all the values in the `name` and `city` columns

It's always a good idea to close our connections when we're done

In [40]:
# Closing those connections
cursor.close()
con.close()

## Moving from SQLite3 to pandas

In [41]:
# need to import pandas!
import pandas as pd

In [43]:
pd_con = sqlite3.connect("data/flights.db")

In [44]:
# Can use either pd.read_sql_query or pd.read_sql
pd.read_sql_query("SELECT * FROM airlines", pd_con)

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N
...,...,...,...,...,...,...,...,...,...
6043,6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,None,Cuba,Y
6044,6044,19830,All Australia,All Australia,88,8K8,None,Australia,Y
6045,6045,19831,Fly Europa,None,ER,RWW,None,Spain,Y
6046,6046,19834,FlyPortugal,None,PO,FPT,FlyPortugal,Portugal,Y
6047,6047,19845,FTI Fluggesellschaft,None,None,FTI,None,Germany,N

#### Convert one of the earlier queries in the lesson to a pandas data frame

In [45]:
pd.read_sql("""
    SELECT name, city, country,
    CASE WHEN latitude > 0 THEN 'northern'
        ELSE 'southern'
        END AS hemisphere
    FROM airports
    """, pd_con)

,name,city,country,hemisphere
0,Goroka,Goroka,Papua New Guinea,southern
1,Madang,Madang,Papua New Guinea,southern
2,Mount Hagen,Mount Hagen,Papua New Guinea,southern
3,Nadzab,Nadzab,Papua New Guinea,southern
4,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,southern
...,...,...,...,...
8102,Mansons Landing Water Aerodrome,Mansons Landing,Canada,northern
8103,Port McNeill Airport,Port McNeill,Canada,northern
8104,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,northern
8105,Deer Harbor Seaplane,Deer Harbor,United States,northern
8106,San Diego Old Town Transit Center,San Diego,United States,northern

In [46]:
# Now close that pandas connection
pd_con.close()

Another way to move results into a pandas dataframe:

In [51]:
# closed our connections before, need to open them back up
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

In [52]:
res = cursor.execute("""
    SELECT country, COUNT(*) as active_airline_count
    FROM airlines
    WHERE active = 'Y'
    GROUP BY country
    ORDER BY active_airline_count DESC;
    """).fetchall()

In [55]:
cursor.description

(('country', None, None, None, None, None, None),
 ('active_airline_count', None, None, None, None, None, None))

In [56]:
df = pd.DataFrame(res)
df.columns = [desc[0] for desc in cursor.description]

In [57]:
df.head()

          country  active_airline_count
0   United States                   141
1          Russia                    72
2  United Kingdom                    40
3         Germany                    37
4          Canada                    34

In [58]:
cursor.close()
con.close()

## Additional Resources

Reading Resources:

- [MariaDB's list of relational database terms, which also helps explain table relationships](https://mariadb.com/kb/en/relational-databases-basic-terms/)
- [History of SQL Article](https://www.businessnewsdaily.com/5804-what-is-sql.html)
- [The original SQL paper from the 1970s](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

Free SQL Courses: 

- [Kaggle's Courses](https://www.kaggle.com/learn/overview) on Intro to SQL and Advanced SQL - will include connecting to a Google Biq Query database
- [Khan Academy's SQL Course](https://www.khanacademy.org/computing/computer-programming/sql), which includes using more complicated query commands like CASE
- [Coursera Course on Modern Big Data Analysis with SQL](https://www.coursera.org/specializations/cloudera-big-data-analysis-sql) which was just recommended to me via the data science subreddit - covers SQL queries with specific considerations for very very large datasets stored in clusters in the cloud (specifically covers Hive and Impala, I'll likely be taking this course for fun over the next few weeks if anyone wants to join me!)